apiVersion: v1
kind: Service
metadata:
  name: {{ include "saber.controller.fullname" . }}
  labels:
    {{- include "saber.labels" . | nindent 4 }}
    app.kubernetes.io/component: controller
spec:
  type: ClusterIP
  ports:
    - port: 26688
      targetPort: grpc
      protocol: TCP
      name: grpc
  selector:
    {{- include "saber.controller.selectorLabels" . | nindent 4 }}
